<!-- templates/fragments/header.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
</head>
<body>
<!-- Header Fragment -->
<div th:fragment="siteHeader">
	<!-- Navbar -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" th:href="@{/}"><span class="glyphicon glyphicon-home"></span> Shopping Center</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a th:href="@{/login}">Login</a></li>
				<li><a th:href="@{/register}">Register</a></li>
				<li><a th:href="@{/products}">Products</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Category <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a th:href="@{/products?type=mobile}">Mobiles</a></li>
						<li><a th:href="@{/products?type=tv}">TVs</a></li>
						<li><a th:href="@{/products?type=laptop}">Laptops</a></li>
						<li><a th:href="@{/products?type=camera}">Camera</a></li>
						<li><a th:href="@{/products?type=speaker}">Speakers</a></li>
						<li><a th:href="@{/products?type=tablet}">Tablets</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>

	<!-- Company Info + Search -->
	<div class="container-fluid text-center" style="margin-top: 55px; background-color: #33cc33; color: white; padding: 20px;">
		<h2>Ellison Electronics</h2>
		<h6>We specialize in Electronics</h6>
		<form class="form-inline" th:action="@{/search}" method="get" style="margin-top: 10px;">
			<div class="input-group">
				<input type="text" class="form-control" size="50" name="query" placeholder="Search Items" required>
				<div class="input-group-btn">
					<button class="btn btn-danger" type="submit">Search</button>
				</div>
			</div>
		</form>
	</div>
</div>
</body>
</html>
